{include file="/header" /}		
{include file="/sidebar" /}
        <!-- Main Content -->
		<div class="page-wrapper">
            <div class="container-fluid pt-25" >
				<div class="panel panel-default card-view panel-refresh" id="service-list">
					<div class="refresh-container">
						<div class="la-anim-1"></div>
					</div>
					<div class="panel-heading">
					<div class="pull-left">
						<h6 class="panel-title txt-dark">Service</h6>

					</div>
					<div class="pull-right">
						<a href="#" class="pull-left inline-block full-screen mr-15">
							<i class="zmdi zmdi-fullscreen"></i>
						</a>
						<a href="#" class="pull-left inline-block mr-15">
							<i class="zmdi zmdi-download"></i>
						</a>
						{if $role_id==2}
						<a href="#" onclick="AddServiceInit()" data-toggle="modal" data-target="#ServiceBox" class="pull-left inline-block mr-15">
							<i class="zmdi zmdi-plus"></i>
						</a>
						{/if}
						<select>
								<option>2017-2018学年</option>
								<option>2016-2017学年</option>
						</select>
						<select v-model="userState">
							<option value="0">All</option>
							<option value="1">Normal</option>
							<option value="2">peding</option>
							<option value="3">revised</option>
						</select>
						<select >
							<option value="0">Select Program</option>
							<option value="1">MA-Phd</option>
							<option value="2">MBA</option>
							<option value="3">EMBA</option>
							<option value="4">EDP</option>
						</select>
						</div>
						<div class="clearfix"></div>
						</div>
						<div class="panel-body row pa-0">
						<div class="table-wrap">
						<div class="table-responsive">
					
							<table class="table table-hover mb-0">
								<thead>
									<tr>
										<th>No.</th>
										<th>username</th>
										<th>project</th>
										<th>service</th>
										<th>duration</th>
										<th>update_time</th>
										<th>update_user</th>
										<th>state</th>
										{if $role_id!=0}<th>modify</th>{/if}
										{if $role_id==0}<th>comment</th>{/if}
									</tr>
								</thead>
								<tbody v-if="userState==0">
									<tr v-for="value in scoreList">
										<td>{{value.id}}</td>
										<td>{{value.name}}</td>
										<td>{{value.program |setName}}</td>
										<td>{{value.project |setName(value.program)}}</td>
										<td>{{value.duration}}</td>
										<td>{{value.update_time |time}}</td>
										<td>{{value.update_user_name}}</td>
										<td v-if="value.state==0">Normal</td>
										<td v-else-if="value.state==1">pending</td>
										<td v-else>revised</td>
										{if $role_id!=0}<td><button v-on:click="ModifyService(value.id,value.name,value.program,value.project,value.date,value.duration,value.school_term)" data-toggle="modal" data-target="#ServiceBox">modify</button></td>{/if}
										{if $role_id==0}<td><button v-on:click="comment(value.id,value.comment)" data-toggle="modal" data-target="#Comment">comment</button></td>{/if}
									</tr>
								</tbody>
								<tbody v-else>
									<tr v-for="value in scoreChange">
										<td>{{value.id}}</td>
										<td>{{value.name}}</td>
										<td>{{value.program |setName}}</td>
										<td>{{value.project |setName(value.program)}}</td>
										<td>{{value.duration}}</td>
										<td>{{value.update_time |time}}</td>
										<td>{{value.update_user_name}}</td>
										<td v-if="value.state==0">Normal</td>
										<td v-else-if="value.state==1">pending</td>
										<td v-else>revised</td>
										{if $role_id!=0}<td><button v-on:click="ModifyService(value.id,value.name,value.program,value.project,value.date,value.duration,value.school_term)" data-toggle="modal" data-target="#ServiceBox">modify</button></td>{/if}
										{if $role_id==0}<td><button v-on:click="comment(value.id,value.comment)" data-toggle="modal" data-target="#Comment">comment</button></td>{/if}
									</tr>
								</tbody>
							</table>
							<div class="pull-right" v-if="userState==0">
								 <div class="page-bar">
									<ul>
										<li v-if="cur>1"><a v-on:click="cur--,pageClick()">上一页</a></li>
										<li v-if="cur==1"><a class="banclick">上一页</a></li>
										<li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
											<a v-on:click="pageChange(index)">{{ index }}</a>
										</li>
										<li v-if="cur!=all"><a v-on:click="cur++,pageClick()">下一页</a></li>
										<li v-if="cur == all"><a class="banclick">下一页</a></li>
										<li><a>共<i>{{all}}</i>页</a></li>
									</ul>
								</div>
							</div>
							<div class="pull-right" v-else>
							
							</div>
						</div>
					</div>	
				</div>	
			</div>
		</div>
	</div>
<!-- 添加框 -->
	<div class="modal fade" id="ServiceBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Add Service</h4>
		  </div>
		  <div class="modal-body">
			<input type="hidden" id="serviceId"/>
			<div id="programOption">所属项目：
				<select v-model="selected">
					<option value="0">请选择项目</option>
					<option v-for="(data, key, index) in programList" :value="index+1" >{{data.name}}</option>
				</select>
			<br/><br/>
			服务内容：
				<select>
					<option value="0">请选择服务内容</option>
					<option v-for="(data, key, index) in serviceList" :value="index+1" >{{data}}</option>
				</select>
			<br/><br/>
			</div>
			<input type="hidden" id="teacherTg" v-model="teacherTg"/>
			<div id="teacherOption">
				<div id="add-teacher-box">
				<div style="float:left">选择教师：</div>
				<div style="height:30px;line-height:30px;border:1px solid gray;display:inline-block; min-width:70px;float:left;margin:3px 5px;" v-for="value in teacherList[0]">
					<div style="float:left;padding:1px 5px;">{{value.username}}</div>
				</div>
				<div style="cursor:pointer;float:left;width:20px;height:20px;line-height:20px;background:gray;text-align:center;border-radius:360px">
				<a style="color:white;" data-toggle="modal" data-target="#teacher">+</a>
				</div>
				</div>
				<div id="now-teacher-box" style="display:none"></div>
			</div>
			<div style="clear:both"></div>
			<br/>

			<div>服务时间：<input id="serviceTime" type="text"  class="form_datetime"/></div><br/>
			<div>服务时长：<input id="duration" type="text"/></div><br/>
			<div id="schoolYear">学年：<select><option>2017-2018</option></select><span></span></div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveService()">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>	
	<!--评论框-->
	<div class="modal fade" id="Comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Comment</h4>
		  </div>
		  <div class="modal-body">
			<input id="commentUser" type="hidden" />
			<div style="width:90%;margin:0 auto"><textarea id="commentVal" style="width:100%;height:200px;"></textarea></div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			{if $role_id==2}<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveComment()">Save changes</button>{/if}
		  </div>
		</div>
	  </div>
	</div>	
	<!--教师框-->
	<div  class="modal fade" id="teacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">teacher</h4>
			</div>
			<div  class="modal-body" >
				<div id="add-box" style="margin:10px auto;" >
					<div style="width:95%;min-height:40px;border:1px gray solid;">
						<div style="height:30px;line-height:30px;border:1px solid gray;display:inline-block; min-width:70px;float:left;margin:3px 5px;" v-for="value in addData">
						<div style="float:left;padding:1px 5px;">{{value.username}}</div>
						<div style="float:left;padding:1px 5px;"><a href="#" v-on:click="deleteBox(value.userid,value.username)">X</a></div>
						</div>
					</div>
				</div>
				<div><input type="text"  v-model="searchText" placeholder="Search"/></div>
				<div style="height:400px;overflow-y:auto;">
					<table class="table">
					<thead><tr>
						<td>name</td>
						<td>Add</td>
					</tr>
					</thead>
					<tbody v-if="searchText==''">
					<tr v-for="value in teacherList">	
						<td><label>{{value.username}}</label>  </td>
						<td><a href="#" v-on:click="addBox(value.userid,value.username)"><i class="zmdi zmdi-plus"></i></a></td>
					
					</tr>
					</tbody>
					<tbody v-else>
					<tr v-for="value in searchData">	
						<td><label>{{value.username}}</label>  </td>
						<td><a href="#" v-on:click="addBox(value.userid,value.username)"><i class="zmdi zmdi-plus"></i></a></td>
					</tr>
					</tbody>
					</table>
					</div>
				<input id="addText" type="hidden"  v-model="idx" placeholder="Search"/>

			</div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary"  v-on:click="saveTeacher()" data-dismiss="modal">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>

			
	
	{include file="/footer" /}	
	<script src="JS_PATH/main.js"></script>