
	<!-- Footer -->
	<footer class="footer container-fluid pl-30 pr-30">
		<div class="row">
			<div class="col-sm-12">
				<p>2017 &copy; . Pampered by PHBS</p>
			</div>
		</div>
	</footer>
			<!-- /Footer -->
    <!-- jQuery -->
    <script src="JS_PATH/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="JS_PATH/bootstrap.min.js"></script>
	<!-- Vue -->
	<script src="JS_PATH/vue.min.js"></script>
	<!-- Init JavaScript -->
	<script src="JS_PATH/init.js"></script>
	<script src="JS_PATH/date.js"></script>
	<script src="JS_PATH/bootstrap-datetimepicker.min.js"></script>

</body>

</html>